<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Login - Deliriumm</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/style_login.css' %}">
        
    </head>
    <body>
        <h1 id="deliriumm">DELIRIUMM</h1>

        {% if message %}
            <div id="message">{{ message }}</div>
        {% endif %}
    
        <div>
            <form id="formlogin" action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" id="user">
                <input type="password" name="password", placeholder="Password" id="password">
                <div><input type="submit", value="Login" id="login"></div>
                
            </form>
        </div>
        <div align="left" id="footerdiv">
            <a style="color: white" href="{% url 'mainpage:index' %}">Regresar al Inicio</a>
        </div>
    </body>
</html>
