body {
    font-family: sans-serif;
    background-color: black;
    color: white;
  }

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#deliriumm {
    font-family: 'radwave', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }


@font-face {
    font-family: 'radwave';
    src: url('radwave.woff2') format('woff2'),
         url('radwave.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}